{% extends "base.html" %}
{% block page_title %}DASHBOARD{% endblock %}

{% block content %}
<div class="card">
  <div class="body">
    <canvas id="bar_chart" data-overview="{{overview}}" height="150"></canvas>
  </div>
</div>
<script src="{{url_for('static', filename='plugins/chartjs/Chart.bundle.js')}}"></script>
<script>
  const chartEl = document.getElementById("bar_chart");
  const label = JSON.parse('{{ label | tojson}}')
  const value = JSON.parse('{{ value | tojson}}')
  new Chart(chartEl.getContext("2d"), config = {
      type: 'bar',
      data: {
          labels: label,
          datasets: [{
              label: "User terdaftar",
              data: value,
              backgroundColor: 'rgba(0, 188, 212, 0.8)'
          }]
      },
      options: {
        responsive: true,
        legend: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    userCallback: function(label, index, labels) {
                        // when the floored value is the same as the value we have a whole number
                        if (Math.floor(label) === label) {
                            return label;
                        }

                    },
                }
            }],
        },
      }
  });
</script>
{% endblock %}