{% extends "base.html" %}
{% block page_title %}TAMBAH PENGGUNA BARU{%endblock%}
{% block content %}
<div class="card">
  <div class="body">
    {% include 'inc/alert.html' %}
    <form action="/admin/user/save_user" method="POST" enctype="multipart/form-data">
      <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">person</i>
        </span>
        <div class="form-line">
            <input type="text" name="username" class="form-control" name="username" placeholder="Username" required autofocus>
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
            <!-- <i class="material-icons">person</i> -->
        </span>
        <select name="gender" id="" class="form-control">
          <option value="">--pilih kelamin--</option>
          <option value="0">laki-laki</option>
          <option value="1">perempuan</option>
        </select>
        </div>
      <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">photo</i>
        </span>
        <div class="form-line">
          <input type="file" name="face[]" multiple class="form-control" accept="image/*">
        </div>
      </div>
      <button class="btn btn-danger btn-sm">SIMPAN</button>
    </form>
  </div>
</div>
{%endblock%}